<div class="cheap-flights">
    <h2>Book cheap flights from</h2>
    <div class="locations-list">
      <ul>
        <li>Manila</li>
        <li>Cebu</li>
        <li>Davao</li>
        <li>Clark</li>
      </ul>
    </div>
  
    <div class="parent">
      <div class="div1">
        <img src="https://cdn.media.amplience.net/i/cebupacificair/HPB-DOM-CEB-Cebu-Beach-shutterstock_581734225?fmt=auto&maxW=1920&maxH=1920&w=310&qlt=40&fmt.options=interlaced" alt="">
        <div class="image-overlay"></div>
        <div class="overlay-text">Explore Cebu</div>
      </div>
      <div class="div2">
        <img src="https://cdn.media.amplience.net/i/cebupacificair/ILO-Iloilo-GigantesIslands-CabugaoIsland-5464x3640?fmt=auto&maxW=1920&maxH=1920&w=310&qlt=40&fmt.options=interlaced" alt="">
        <div class="image-overlay"></div>
        <div class="overlay-text">Discover Iloilo</div>
      </div>
      <div class="div3">
        <img src="https://cdn.media.amplience.net/i/cebupacificair/LAO-Ilocos-BanguiWindmills-Portrait-5184x3456?fmt=auto&maxW=1920&maxH=1920&w=310&qlt=40&fmt.options=interlaced" alt="">
        <div class="image-overlay"></div>
        <div class="overlay-text">Ilocos Awaits</div>
      </div>
      <div class="div4">
        <img src="https://cdn.media.amplience.net/i/cebupacificair/DAD-Danang-LadyBuddhaTemple-6000x3999?fmt=auto&maxW=1920&maxH=1920&w=310&qlt=40&fmt.options=interlaced" alt="">
        <div class="image-overlay"></div>
        <div class="overlay-text">Visit Da Nang</div>
      </div>
      <div class="div5">
        <img src="https://cdn.media.amplience.net/i/cebupacificair/MFM-Macau-RuinsOfStPaul-5616x3744?fmt=auto&maxW=1920&maxH=1920&w=310&qlt=40&fmt.options=interlaced" alt="">
        <div class="image-overlay"></div>
        <div class="overlay-text">Magical Macau</div>
      </div>
      <div class="div6">
        <img src="https://cdn.media.amplience.net/i/cebupacificair/HPB-INTL-TPE-Taiwan-04-shutterstock_535906042?fmt=auto&maxW=1920&maxH=1920&w=310&qlt=40&fmt.options=interlaced" alt="">
        <div class="image-overlay"></div>
        <div class="overlay-text">Taipei Vibes</div>
      </div>
    </div>
  
    <span class="note">*One-way base fares</span>
    <app-search-flight-button [text]="seeMoreText"></app-search-flight-button>
  </div>
  