<div class="location-group">
  <div class="location-container">
    <mat-form-field>
      <mat-label>From</mat-label>
      <input matInput
            [value]="displayFromValue"
            placeholder="Select Origin"
            readonly
            (click)="handleFromClick()"
            class="origin-input">
    </mat-form-field>
  </div>
  <div class="location-container">
    <mat-form-field>
      <mat-label>To</mat-label>
      <input matInput
            [value]="displayToValue"
            placeholder="Select Destination"
            readonly
            (click)="handleFromClick()"
            class="origin-input">
    </mat-form-field>
  </div>

  <app-location-popup></app-location-popup>
</div>