<div class="bundle-container">
    <div class="bundle-header">
        <div class="header-title">
            <h4>Select a bundle for all flights</h4>
        </div>
    </div>
    <div class="main-container">
        <div class="bundle-contents">
            <div class="tip">
                <span class="tip-content"> Tip: Avoid airport fees and long lines. Buy your add-ons ahead of time! </span>
            </div>

            <div class="bundle-selections"></div>

            <div class="discount-note">
                <p><strong>Note:</strong> PWD and/or Senior Citizen discounts do not apply for flights with promos or discounts. However, PWDs and senior citizens are still eligible for VAT exemption, in accordance with R.A. 10754 (Base Fare only).</p>
            </div>
        </div>
    </div>
</div>