<app-header [isHoveredByDefault]="true"></app-header>

<div class="booking-wrapper">
  <app-booking-progress [selectedIndex]="currentStepIndex"></app-booking-progress>
      
      <div class="title-section">
        <div class="title-text">
            <h2>Booking Summary</h2>
            <p>Review your booking before proceeding to payment</p>
        </div>
      </div>

      <div class="booking-summary">
        <div class="booking-contents">
            <div class="departing">
              <div class="departing-flight">

              </div>
              <div class="departing-passenger">
                
              </div>
              <div class="departing-subtotal">
                
              </div>
            </div>
            <div class="returning">
              <div class="returning-flight">

              </div>
              <div class="returning-passenger">

              </div>
              <div class="returning-subtotal">
                <span>Subtotal</span>
              </div>
            </div>
            <div class="all-flights">
              <div class="all-header">
                <h2>All Flights</h2>
                <p>The following are applied across all flights</p>
              </div>
              <span class="travel-insurance">
                <h5>Travel Insurance</h5>
                <p>PHP {{ travel_insurance | number:'1.2-2' }}</p>
              </span>
              <span class="taxes">
                <h5>Taxes and Fees</h5>
                <p>Amount</p>
              </span>
            </div>
            <div class="total-cost">
              <span>Total</span>
              <span>Amount here</span>
            </div>
        </div>
      </div>

      <div class="terms-confirmation">
        <div class="terms-contents">
            <input type="checkbox" required>
            <span class="terms-text">
              By clicking 'Continue' I confirm that I have read, understood, and accept the 
              <a href="#" class="conditions-link">Conditions of Carriage</a>
            </span></div>
      </div>
  
      <div class="buttons-section">
        <div class="buttons-container">
            <button class="back-button" type="button">
                <a href="/landing">Back</a>
              </button>
              <button class="continue-button" 
                      type="button" 
                      >
                <a href="#">Continue</a>
              </button>
        </div>
      </div>
</div>